# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local install and build files
*.egg-info
build
dist

# PyCharm configuration
.idea

# VSCode configuration
.vscode

# Data folder for additional datasets
/geti_sdk/demos/data/*
!/geti_sdk/demos/data/example

# Jupyter and ipython checkpoints
.ipynb_checkpoints/
/notebooks/deployments
/notebooks/projects
/notebooks/benchmarks
/notebooks/output
/notebooks/hook_data

# Use case notebook data
/notebooks/use_cases/deployments
/notebooks/use_cases/data
!/notebooks/use_cases/data/102_from_zero_to_hero

# Documentation builds
/docs/build

# Test reports
.coverage

# Test server configurations
/tests/*.ini
!/tests/offline.ini

# Test artifacts and reports
/tests/artifacts
/tests/htmlcov/
/tests/report*
