# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local install files
*.egg-info

# PyCharm configuration
.idea

# Data folder for COCO data
/data/

# Jupyter and ipython checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/deployments
/notebooks/projects