[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = ">=4.0"
jupyter-core = ">=4.11.2"
ipywidgets = ">=8.1"
mistune = ">=2.0.3"
gitpython = "*"

[requires]
python_version = "3.10"
