# Base requirements
datumaro==0.4.*
requests==2.28.*
numpy==1.22.*
omegaconf==2.1.*
opencv-python==4.7.*
python-dotenv==0.21.*
tqdm==4.64.*
Pillow==9.4.*
pathvalidate>=2.5.0
simplejson==3.18.*
ipython==8.7.*
ote-sdk @ git+https://github.com/openvinotoolkit/training_extensions/@releases/v0.3.1-geti1.0.0#egg=ote-sdk&subdirectory=ote_sdk
openvino==2022.2.0
openmodelzoo-modelapi @ git+https://github.com/openvinotoolkit/open_model_zoo/@releases/2022/2#egg=openmodelzoo-modelapi&subdirectory=demos/common/python
