# Base requirements
datumaro==1.9.*
requests==2.32.*
numpy>=1.26.4
omegaconf==2.3.*
opencv-python==4.10.*
python-dotenv==1.0.*
tqdm>=4.66.3
Pillow==11.1.*
pathvalidate>=2.5.0
simplejson==3.19.*
ipython==8.18.*
openvino>=2023.2.0
openvino-model-api==0.2.5.1
certifi>=2024.2.2
joblib>=1.2.0
protobuf>=3.20.2
ovmsclient>=2022.3
orjson>=3.10.0
imageio-ffmpeg==0.6.0
cryptography>=42.0.7
semver>=3.0.2
urllib3==1.26.*
defusedxml==0.7.*
