# Requirements for running the tests
vcrpy==7.0.*
pytest==8.3.*
pytest-recording==0.13.*
pytest-cov==6.0.*
pytest-env==1.1.*
pytest-html==4.1.*
flake8==7.1.*
pydocstyle>=6.1
black>=24.1
isort>=5.12
pre-commit>=3.5
nbqa>=1.7.0
pytest-mock>=3.10.0
