# Requirements for running the tests
vcrpy==7.0.*
pytest==8.3.*
pytest-recording==0.13.2  # pinned due to https://github.com/kiwicom/pytest-recording/issues/174
pytest-cov==6.0.*
pytest-env==1.1.*
pytest-html==4.1.*
ruff~=0.12.0
snowballstemmer==2.2.*  # pinned because pytest-recording subdeps are loose
pre-commit~=4.2
pytest-mock>=3.10.0
