name: Publish package [TestPyPI]

on:
  workflow_dispatch:

  release:
    types: [published]

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build-package.yaml
    with:
      enable_dev_dependencies: 1
      runner: ubuntu-latest
    secrets:
      PYPI_USER: ${{ secrets.TEST_PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.TEST_PYPI_PASSWORD }}
      PYPI_HOST: test.pypi.org
