name: Pre-merge tests

# Controls when the action will run. This action can be triggered manually
# (workflow_dispatch trigger), and it will be run automatically when a PR to main is made.
on:
  workflow_dispatch:

  pull_request:
    branches:
      - main

env:
  PREMERGE_TEST_REPORT: pre_merge_test_report.html
  REPORT_DIRECTORY: reports

jobs:
  pr_tests:
    # runs-on: ${{ matrix.os }}
    runs-on: self-hosted
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest]
        python-version: ['3.8', '3.9']
    steps:

      - name: Checkout code with caching for Git LFS
        uses: nschloe/action-cached-lfs-checkout@v1.1.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package with dev and notebook requirements
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev,notebooks]"

      - name: Create report directory
        # Creates the temporary directory that is used to store the test report
        run: |
          mkdir $REPORT_DIRECTORY

      - name: Check formatting with black
        run: black . --check

      - name: Check imports with isort
        run: isort . --check

      - name: Flake8 linting
        run: flake8 .

      - name: Pydocstyle linting
        run: pydocstyle geti_sdk --count

      - name: Test with pytest
        run: |
          pytest tests/pre-merge -c tests/offline.ini --cov=geti_sdk --html=$REPORT_DIRECTORY/$PREMERGE_TEST_REPORT --self-contained-html --cov-report html:$REPORT_DIRECTORY/coverage

      - name: Upload test report for integration tests
        # Publish the integration test report to github
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: integration-test-reports
          path: ${{ env.REPORT_DIRECTORY }}

      - name: Clean up report directories
        # Remove temporary report directory
        if: ${{ always() }}
        run: |
          rm -r $REPORT_DIRECTORY
