name: Security scans

on:
  workflow_dispatch:

  schedule: # Execute tests at midnight every day
    - cron: "0 0 * * *"

env:
  SNYK_API: https://snyk.devtools.intel.com/api/v1
  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
  REPORT_DIRECTORY: reports

jobs:
  security:
    runs-on: self-hosted
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@master

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Install package with dev requirements
        # Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev]"

      - name: Create report directory
        # Creates the temporary directory used to store the test reports
        run: mkdir $REPORT_DIRECTORY

      # Snyk setup has been done manually on the self-hosted runner
      # - name: Set up Snyk
      #   uses: snyk/actions/setup@master

      # Snyk-to-html setup has been done manually on the self-hosted runner
      # - name: Install snyk-to-html
      #   run: |
      #     npm install snyk-to-html -g

      - name: Snyk scan
        # Run Snyk scan for all package requirements
        run: |
          export no_proxy=snyk.devtools.intel.com
          snyk auth $SNYK_TOKEN -d

          snyk test --json-file-output=$REPORT_DIRECTORY/snyk_base.json \
                    --print-deps \
                    --file=requirements/requirements.txt \
                    --project-name=geti_sdk-base \
                    --package-manager=pip || echo "Snyk tests on base requirements completed with exit code $?"
          snyk test --json-file-output=$REPORT_DIRECTORY/snyk_docs.json \
                    --print-deps \
                    --file=requirements/requirements-docs.txt \
                    --project-name=geti_sdk-docs \
                    --package-manager=pip || echo "Snyk tests on documentation requirements completed with exit code $?"
          snyk test --json-file-output=$REPORT_DIRECTORY/snyk_notebooks.json \
                    --print-deps \
                    --file=requirements/requirements-notebooks.txt \
                    --project-name=geti_sdk-notebooks \
                    --package-manager=pip || echo "Snyk tests on notebook requirements completed with exit code $?"
          snyk test --json-file-output=$REPORT_DIRECTORY/snyk_dev.json \
                    --print-deps \
                    --file=requirements/requirements-dev.txt \
                    --project-name=geti_sdk-development \
                    --package-manager=pip || echo "Snyk tests on development requirements completed with exit code $?"

          snyk-to-html -i $REPORT_DIRECTORY/snyk_base.json -o $REPORT_DIRECTORY/snyk_base.html
          snyk-to-html -i $REPORT_DIRECTORY/snyk_docs.json -o $REPORT_DIRECTORY/snyk_docs.html
          snyk-to-html -i $REPORT_DIRECTORY/snyk_notebooks.json -o $REPORT_DIRECTORY/snyk_notebooks.html
          snyk-to-html -i $REPORT_DIRECTORY/snyk_dev.json -o $REPORT_DIRECTORY/snyk_dev.html

      - name: Bandit scan
        # Run Bandit scan
        run: |
          pip install bandit
          bandit -r . --ini tox.ini -f 'txt' -o $REPORT_DIRECTORY/bandit.txt -v

#      - name: Git AV Scan
#        uses: djdefi/gitavscan@main
#        with:
#          full: '--full'

#      - name: Hadolint scan on Dockerfile
#        # Run hadolint scan on the dockerfile
#        uses: hadolint/hadolint-action@v2.0.0
#        with:
#          dockerfile: ./Dockerfile
#          output-file: ${{ env.REPORT_DIRECTORY }}/hadolint.txt
#          no-fail: true

      - name: Upload test reports
        # Publish the test reports to github
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: test-reports
          path: ${{ env.REPORT_DIRECTORY }}

      - name: Clean up artifact directories
        # Remove temporary report directory
        if: ${{ always() }}
        run: |
          rm -r $REPORT_DIRECTORY
